h1{
  font-family:"Times New Roman";
  text-align:center ;
  font-size: 20px;
  color:rgb(0,242,255);
}
h2{
  font-family:"Georgia";
  text-align:center;
  font-size: 20px;
  color:rgb(0, 242, 255) ;
}
body{
  background-image:url(anime-aesthetic.gif);
  background-repeat: no-repeat;
  background-position:top center;
  background-attachment: fixed;
  background-size: 100%;
}
.kirim{
  background:#0066ff;
  color:rgb(178, 227, 255);
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:5px solid #0b4c77;
  padding:10px 20px;
  text-decoration: dashed;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:12pt;
}
h4{
  color: rgb(242, 255, 0);
}